* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: montserrat;
    src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf')
}

/* Essayer de regrouper les infos similaires */
body {
    font-family: montserrat;
    width: 100%;
    height: 100%;
}

/* Styles des classes générales */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

/* Drawer début */
.drawer {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out , visibility 0.5s ease-in-out;
  
}
.drawer.is-visible {
    opacity: 1;
    visibility: visible;
}

.drawer a {
    text-decoration: none;
    color: #000;
}

.drawer .menu-drawer {
    margin: 100px 0px 0px 70px;
}

.drawer .menu-selection {
    margin: 40px 0;
}

.drawer .menu-drawer li {
    list-style-type: none;
}

.drawer .menu-selection.active a {
    border-bottom: 1px solid black;
    font-weight: bold;
}

.close {
    color: black;
    font-size: 32px;
    margin-left: 500px;
    margin-top: 25px;
}

/* Drawer fin */

.al-position {
    text-align: start;
    margin-bottom: 30px;
}

.al-down {
    align-items: flex-start;
}

.section {
    padding-top: 25px
}

.marb-1 {
    margin-bottom: 12px;
}

.marb-2 {
    margin-bottom: 25px;
}

.menu-mobile {
    background-color: transparent;
    outline: none;
    border: none;
    color: #fff;
    font-size: 27px;
}

.button.link {
    background-color: #D72385;
    color: #fff;
    padding: 10px 10px;
    border-radius: 20px;
    text-decoration: none;
    margin-bottom: 30px;
}

p {
    margin-bottom: 16px;
}

/* Fin styles classes générales */
/* barre de navigation */
.navigation {
    background-color: #0f2243;
    height: 50px;
}

.navigation .container {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding-top: 9px;

}

.navigation a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    transition: all 1s ease-out;
}

.navigation img {
    width: 40px;
    margin-right: 12px;
}

.navigation .menu {
    display: none;
    align-items: center;

}

.navigation .menu-selection {
    display: inline;
    padding: 0 10px;
    padding-bottom: 5px;
}

.navigation .menu-selection.active {
    border-bottom: 2px solid #fff;
}

.navigation .menu li a:hover, a:focus {
    border-bottom: 2px solid #D72385;
}

/* Fin barre de Navigation */
/* Début phrase d'accroche */
.section.accroche .container {
    text-align: center;
    margin-bottom: 30px;
}

.section.accroche .container a:hover {
    background-color: aquamarine;
    color: black;
}

/* Fin phrase d'accroche */
/* début première partie */
.section.pp {
    background-color: #D8D8D8;
    margin-top: 20px;
}

.section.pp .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section.pp img {
    width: 150px;
}

.section.pp .partblock {
    width: 50%;
}

/* Début deuxième partie */
.section .container .liste {
    margin-bottom: 32px;
}

.section .container .liste li {
    list-style-type: none;
}

/* Début footer */
footer {
    background-color: #0f2243;
    color: #fff;
    height: 80px;
    display: flex;
    text-align: start;
    padding: 40px 200px 40px 0;
}

/* Fin footer */


/* Styles pages communauté */
/* début première partie */
.section.communaute {
    background-color: #D8D8D8;
    margin-top: 30px;
}

.section.communaute .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section.communaute img {
    width: 150px;
}

/* Fin première partie */
/* Début style partie membres */
/* .section.members {
    margin-bottom: 50px;
} */
.members-list {
    display: flex;
    flex-wrap: wrap;
}

.members-list .members-items {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.members-items img {
    width: 160px;
    border-radius: 50%;
    margin: 20px 20px;
    height: 200px;
}

.members-items h4 {
    margin-left: 20px;
    font-weight: 200;
}

/* Fin style parties membres */
/* Début style cours */
.cours-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
}

.cours-list .cours-items {
    width: 100%;
    padding: 10px 10px;
}

.cours-list .cours-items img {
    width: 100%;
    border: 1px solid black;
    height: 280px;
    padding: 10px;
    box-shadow: 1px 1px 5px #00000071;
}

/* section abonnez-vous */
.section.cours2 {
    background-color: #D8D8D8;
    margin-top: 47px;
}

.section.cours2 .container {
    display: flex;
    flex-direction: column;
}

.section.cours2 .partblock1 {
    width: 50%;
}

.section.cours2 .partblock2 {
   margin-bottom: 22px;
    width: 50%;
}

.email {
    width: 375px;
    padding: 10px;
    border-radius: 15px;
    background-color: #D8D8D8;
    font-size: 14px;

}

.button {
    width: 375px;
    background-color: #D72385;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}

/* Fin style cours */
/* Début style contacts */
.section .sectioncontact .h3 {
    margin-bottom: 12px;
}

.formulaires .info1 {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.pays {
    width: 500px;
}

.info1 .fill {
    width: 50%;
    padding-bottom: 2px;
}

.info1 .Nom {
    width: 50%;
    padding-bottom: 10px;
}

.info1 .pays .fill {
    width: 50%;
}

.formulaires .info2 {
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
}

.formulaires .info3 {
    padding-bottom: 12px;
}


.info2 .mail {
    width: 50%;
    padding-bottom: 10px;
}

.info2 .objectif {
    width: 50%;
    padding-bottom: 10px;
}

.formulaires .container .fill {
    background-color: #D8D8D8;
    width: 50%;
    margin-top: 12px;
    padding-top: 10px;
    border-radius: 5px;
}

.info3 {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
}

.fill1 {
    height: 125px;
    width: 250px;
    background-color: #D8D8D8;
    margin-top: 12px;
    padding: 14px 0;
    border-radius: 5px;
}

.btn {
    width: 225px;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    background-color: #D72385;
}

/* Fin style contacts */
/* Responsive */
@media screen and (min-width: 567px) {
    .al-position {
        text-align: center;
    }

    .al-down {
        text-align: center;
        align-items: flex-start;
    }
}

@media screen and (min-width : 768px) {
    .members-list {
        display: flex;
        flex-wrap: wrap;
    }

    .members-list .members-items {
        width: 33%;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
    }

    .members-items img {
        width: 200px;
        border-radius: 50%;
        margin: 20px 20px;
        height: 220px;
    }

    .members-items h4 {
        margin-left: 20px;
        font-weight: 200;
    }

    .section.pp .container {
        flex-direction: row;
    }

    .section.pp img {
        width: 400px;
    }

    .section.communaute .container {
        flex-direction: row;
    }

    .section.communaute img {
        width: 200px;
    }

    .section.cours .container {
        flex-direction: row;
    }

    .courses {
        display: flex;
        flex-wrap: wrap;
    }

    .cours-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row;
    }

    .cours-list .cours-items {
        width: 33%;
        padding: 3px 3px;
    }

    .cours-list .cours-items img {
        width: 100%;
        border: 1px solid black;
        height: 250px;
        padding: 10px;
        box-shadow: 1px 1px 5px #00000071;
    }

    .section.cours2 .container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .menu-mobile {
        display: none;
        text-decoration: none;
    }

    .navigation .menu {
        display: flex;
    }

    .section.cours2 {
        background-color: #D8D8D8;
        margin-top: 47px;
    }

    .section.cours2 .container {
        display: flex;
        flex-direction: row;
    }

    .section.cours2 .partblock1 {
        width: 50%;
        flex-direction: row;
    }

    .section.cours2 .partblock2 {
        margin-top: 45px;
        width: 50%;
    }

    .email {
        width: 375px;
        padding: 10px;
        border-radius: 15px;
        background-color: #D8D8D8;
        font-size: 14px;

    }

    .button {
        width: 375px;
        background-color: #D72385;
        color: #fff;
        padding: 10px;
        margin-top: 10px;
        border-radius: 15px;
        text-decoration: none;
        font-size: 15px;
        cursor: pointer;
    }

    .formulaires .info1 {
        display: flex;
        flex-direction: row;
        padding-bottom: 20px;
    }

    .formulaires .info2 {
        padding-bottom: 12px;
        display: flex;
        flex-direction: row;
    }
}

/* Fin responsive */